/* @import url("font-awesome.min.css"); */

body {
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #626262;
}

#menu {
    width: 240px;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 0px;
    height: 100%;
    justify-content: space-between;
    background-color: white;
    overflow-y: auto;
    position: fixed;
    text-align: right;
    border-right: 1px solid rgb(241, 241, 241);
}

#menu .top {
    flex-grow: 1;
}

#menu .icons {
    font-size: 0.8em;
    text-align: center;
}

#menu .icons a {
    color: #626262;
    transition: color 0.35s ease-in-out;
}

#logo {
    position: relative;
    margin: 1.75em 1.5em 1.5em 1.5em;
    min-height: 48px;
    cursor: default;
}

#logo .image {
    position: absolute;
    left: 0;
    top: 0;
}

.image.avatar48 {
    width: 46px;
    height: 46px;
    background: rgb(146, 146, 146);
}
/* .image {
    display: inline-block;
    border: 0;
} */

.image.avatar48 img {
    width: 48px;
    height: 48px;
}

.image img {
    display: block;
    /* width: 100%; */
}

#logo h1 {
    position: relative;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
}

#logo p {
    position: relative;
    display: block;
    font-size: 0.6em;
    line-height: 1.25em;
    margin: 0.5em 0 0 0;
}

nav {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#nav ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

#nav ul li {
    padding-left: 0;
    font-size: 12pt;

    background-color: transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 5px solid transparent;
}

#nav ul li.selected {
    background-color: rgb(246, 246, 246);
    border-top: 1px solid rgb(241, 241, 241);
    border-bottom: 1px solid rgb(241, 241, 241);
    border-right: 5px solid rgb(0, 119, 255);
    color: #343434;
}

#nav ul li:hover {
    background-color: rgb(253, 253, 253);
    border-top: 1px solid rgb(245, 245, 245);
    border-bottom: 1px solid rgb(245, 245, 245);
    border-right: 5px solid rgb(236, 236, 236);
}

#nav ul li:active {
    background-color: rgb(253, 253, 253);
    border-top: 1px solid rgb(245, 245, 245);
    border-bottom: 1px solid rgb(245, 245, 245);
    border-right: 5px solid rgb(99, 172, 255);
}


#nav ul li a {
    display: block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    text-decoration: none;
    outline: 0;
    border: 0;
    transition: none;
    color: #626262;
}

#nav ul li a span {
    position: relative;
    margin-left: 10px;
}

.icon {
    text-decoration: none;
}





ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding-left: 0;
}



ul.icons a {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border: 0;
}

.icon > .label {
    display: none;
}

/* -------- */

#content {
    margin-left: 270px; /* 240 + 30 */
    margin-right: 30px;
    margin-top: 50px;
    font-size: 12pt;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin-left: 240px;
    font-size: 10pt;
    background-color: white;
    border-top: 1px solid rgb(241, 241, 241);
    height: 40px;
}

#footer .copyright {
    cursor: default;
    margin: 0;
}

#footer .copyright li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

#footer .copyright li {
    display: inline-block;
    line-height: 1em;
    border-left: solid 1px rgba(128, 128, 128, 0.35);
    padding: 0 0 0 0.5em;
    margin: 0 0 0 0.5em;
}

div {
    display: block;
}


#heading {
    position: fixed;
    width: 100%;
    top: 0px;
    margin-left: 240px;
    font-size: 10pt;
    background-color: white;
    border-bottom: 1px solid rgb(241, 241, 241);
    height: 35px;
}

#heading > div {
    display: flex;
    /* align-items: center; */
    justify-content: right;
}

#heading .login {
    /* float: right;
    margin-right: 0px; */
}

#heading .login li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

#heading .login li {
    display: inline-block;
    line-height: 1em;
    border-left: solid 1px rgba(128, 128, 128, 0.35);
    padding: 0 0 0 0.5em;
    margin: 0 0 0 0.5em;
}